{#
/**
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 */
#}
<header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
  <div class="top-bar">
    <div class="section layout-container clearfix row">
      {{ page.header }}
      {{ page.primary_menu }}
    </div>
  </div>
</header>